.nav-link{
    color: rgb(212, 212, 212);
}
.active{
    color: white;
}
.nav-link:hover{
    color: rgb(212, 212, 212)
}
@media screen and (min-width: 1201px) {
    .marginAuto{
        margin-left: 10%;
        margin-right: 10%;
    }
}