.side-link{
    color: rgb(212, 212, 212);
}

.active{
    color: white;
}
.side-link:hover{
    color: white
}

@media screen and (min-width: 1201px) {
    .marginAuto{
        margin-left: 10%;
        margin-right: 10%;
    }
}