@media screen and (max-width: 576px){

}

@media (min-width: 577px) and (max-width: 766px) {
    
}

@media (min-width: 767px) and (max-width: 991px) {
    
}

@media (min-width: 992px) and (max-width: 1200px) {
    
}

@media screen and (min-width: 1201px) {
    .imgCard{
        height: 200px;
        width: auto;
    }
    .imgCardPremium{
        height: 200px;
        width: auto;
        filter: blur(5px);
    }
    .imgCardPremium img{
        height: 100%;
        width: 100%;
    }
    .imgCard img{
        height: 100%;
        width: 100%;
    }
    .imgCardPremium{

    }
}